@{
    ViewBag.Title = "Home Page";
}

    <body class="index is-preload">
        <div id="page-wrapper">

            @Html.Partial("Menu")
            @Html.Partial("Home")
            @Html.Partial("Articulo")
            @Html.Partial("Mensaje")
            @Html.Partial("Footer")


        </div>
    </body>