@model IEnumerable<BEUToDoList.tblUser>

@{
    ViewBag.Title = "Index";
}


    <body class="index is-preload">
        @Html.Partial("Menu")
        <section id="banner">

            <div id="main">
                <header class="special container">
                    <span class="icon solid fa-user"></span>
                    <h2>LISTA DE USUARIOS</h2>
                </header>

                <section class="inner" id="registro2">


                    <p>
                        @Html.ActionLink("Nuevo", "Register")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.first_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.last_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pass)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.first_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.last_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pass)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id_user }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id_user }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id_user })
                                </td>
                            </tr>
                        }

                    </table>
                </section>

            </div>
            </section>
    </body>
