@model BEUToDoList.tblTask

@{
    ViewBag.Title = "Delete";
}
    <body class="index is-preload">
        <div id="page-wrapper">

            @Html.Partial("Menu")

            <div id="main">
                <header class="special container">
                    <span class="icon solid fa-trash"></span>
                    <h2>BORRAR TAREA</h2>
                </header>

                <section class="wrapper style4 container">
                    <h3>¿Está seguro de borrar esta tarea?</h3>
                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.title)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.descr)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descr)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.asigned_to)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.asigned_to)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tblList.name_list)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tblList.name_list)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>

                </section>

            </div>
        </div>
    </body>



