@model BEUToDoList.tblBoard

@{
    ViewBag.Title = "Delete";
}

<body class="index is-preload">
    <div id="page-wrapper">

        @Html.Partial("Menu")

        <div id="main">
            <header class="special container">
                <span class="icon solid fa-user"></span>
                <h2>BORRAR TABLERO</h2>
            </header>

            <section class="wrapper style4 container">
                <h3>¿Está seguro de borrar estta mesa de trabajo?</h3>
                <div>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name_board)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name_board)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.id_participants)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.id_participants)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tblUser.first_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tblUser.first_name)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>

            </section>

        </div>
    </div>
</body>




