@model BEUToDoList.tblList

@{
    ViewBag.Title = "Details";
}
    <body class="index is-preload">
        @Html.Partial("../Navigation/Menu")
        <section id="banner">

            <div id="main">
                <header class="special container">
                    <span class="icon solid fa-info"></span>
                    <h2>DETALLE DE LA LISTA</h2>
                </header>

                <section class="inner" id="registro">
                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.name_list)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name_list)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tblBoard.name_board)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tblBoard.name_board)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.id_list }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </section>

            </div>
            </section>
    </body>



